main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #111d2f;
  --secondary: #58a6ff;
  --tertiary: #2d93ca;
  --light: #c9d1d9;
  --dark: #5c646c;
  --darker: #090d12;
  --alpha: #0d1117;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

body {
  cursor: url(https://raw.githubusercontent.com/MBrassey/MediaStore/main/Images/cursor-auto.png),
    auto;
  background: var(--alpha);
  color: var(--dark);
}

a {
  cursor: url(https://raw.githubusercontent.com/MBrassey/MediaStore/main/Images/cursor-hand.png),
    auto;
}

a:hover {
  transition: all 0.5s ease-in-out;
  cursor: url(https://raw.githubusercontent.com/MBrassey/MediaStore/main/Images/cursor-hand.png),
    auto;
}

.hand {
  cursor: url(https://raw.githubusercontent.com/MBrassey/MediaStore/main/Images/cursor-hand.png),
    auto;
}

.float-right{
font-size: 17px;
}

.navbar-nav {
  float: left;
}

.navbar {
  height: 60px;
  color: var(--light);
  background-color: var(--primary);
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.7);
}

.navbar-brand {
  font-family: "Orbitron", sans-serif;
  color: var(--secondary);
  font-size: 25px;
}

.btn {
  cursor: url(https://raw.githubusercontent.com/MBrassey/MediaStore/main/Images/cursor-hand.png),
  auto;
  font-family: "Aldrich", sans-serif;
}

.btn:hover {
  transition: all 0.5s ease-in-out;
  background-color: var(--tertiary);
}

.high {
  background-color: var(--light);
  cursor: url(https://raw.githubusercontent.com/MBrassey/MediaStore/main/Images/cursor-hand.png),
    auto;
}

.low {
  background-color: var(--dark);
  cursor: url(https://raw.githubusercontent.com/MBrassey/MediaStore/main/Images/cursor-hand.png),
    auto;
}

.card {
  font-family: "Aldrich", sans-serif;
  transition: all 0.5s ease-in-out;
  background-color: var(--primary);
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.7);
}

.card-2 {
  font-family: "Aldrich", sans-serif;
  transition: all 0.5s ease-in-out;
  background-color: var(--secondary);
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.7);
}

.text-light {
  color: var(--light);
  font-size: 18px;
}

.font-left {
  color: var(--secondary);
}

.eth {
  color: var(--dark);
}

.numbers {
  width: 97%;
  height: 98px;
}

.col-sm-1 {
  width: 250px;
  
}

.dice2 {
  float: left;
  padding-left: 20px;
  padding-top: 9px;
}

.spinner-border {
  margin-right: 16px;
}

.fix {
  margin-right: 12px;
  margin-bottom: 50px;
}

.form-control {
  cursor: url(https://raw.githubusercontent.com/MBrassey/MediaStore/main/Images/cursor-hand.png),
    auto;
}

.connect {
  padding-right: 28px;
}

button {
  cursor: url(https://raw.githubusercontent.com/MBrassey/MediaStore/main/Images/cursor-hand.png),
    auto;
}

button:hover {
  cursor: url(https://raw.githubusercontent.com/MBrassey/MediaStore/main/Images/cursor-hand.png),
    auto;
}

.address:hover {
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

.eth-img {
  width: 225px;
}

.mm-popup {
  display: none;
}

.mm-popup--visible {
  display: block;
}

.mm-popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7);
}

.mm-popup__close {
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 0;
  width: 20px;
  height: 20px;
  outline: none;
  text-align: center;
  border-radius: 10px;
  border: none;
  text-indent: -9999px;
  background-color: var(--primary);
  margin: 0;
}

.mm-popup__input {
  display: block;
  width: 100%;
  height: 30px;
  border-radius: 3px;
  background: var(--secondary);
  border: 1px solid var(--secondary);
  outline: none;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  font-size: 14px;
  padding: 0 12px;
  color: var(--secondary);
}

.mm-popup__btn {
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0;
  line-height: 32px;
  height: 32px;
  border: 1.5px solid var(--secondary);
  text-align: center;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  color: var(--secondary);
  background: transparent;
  outline: none;
  text-decoration: none;
  cursor: url(https://raw.githubusercontent.com/MBrassey/MediaStore/main/Images/cursor-hand.png),
    auto;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
}

.mm-popup__btn--success {
  background-color: var(--primary);
  border-color: var(--secondary);
  color: var(--light);
}

.mm-popup__btn--danger {
  background-color: var(--primary);
  border-color: var(--secondary);
  color: var(--light);
}

.mm-popup__box {
  width: 350px;
  position: fixed;
  top: 20%;
  left: 50%;
  margin-left: -175px;
  background: var(--primary);
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  border: 1px solid var(--secondary);
  overflow: hidden;
  z-index: 1001;
}

.mm-popup__box__header {
  padding: 15px 20px;
  background: var(--primary);
  color: var(--secondary);
}

.mm-popup__box__header__title {
  margin: 0;
  font-size: 16px;
  text-align: left;
  font-weight: 600;
}

.mm-popup__box__body {
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  color: var(--secondary);
  padding: 20px;
  line-height: 1.4;
  font-size: 20px;
  position: relative;
  z-index: 2;
}

.mm-popup__box__body p {
  margin: 0 0 5px;
}

.mm-popup__box__footer {
  overflow: hidden;
  padding: 40px 20px 20px;
  background-image: url(../assets/dice_logo.png);
  background-repeat: no-repeat;
  background-size: 80px;
  margin-left: 20px;
}

.mm-popup__box__footer__right-space {
  float: right;
}

.mm-popup__box__footer__right-space .mm-popup__btn {
  margin-left: 5px;
}

.mm-popup__box__footer__left-space {
  float: left;
}

.mm-popup__box__footer__left-space .mm-popup__btn {
  margin-right: 5px;
}

.mm-popup__box--popover {
  width: 300px;
  margin-left: -150px;
}

.mm-popup__box--popover .mm-popup__close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0;
  width: 20px;
  height: 20px;
  cursor: url(https://raw.githubusercontent.com/MBrassey/MediaStore/main/Images/cursor-hand.png),
    auto;
  outline: none;
  text-align: center;
  border-radius: 10px;
  border: none;
  text-indent: -9999px;
  background-color: var(--primary);
  background-size: 100%;
  margin: 0;
  z-index: 3;
}

.mm-popup__box--popover .mm-popup__box__body {
  padding: 20px;
}

@media (max-width: 826px) {
  .address {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .address {
    display: none;
  }
}

@media (max-width: 465px) {
  .dice2 {
    visibility: hidden;
    width: 0%;
    height: 0%;
  }
}

@media (max-width: 420px) {
  .card {
    width: 100%;
  }
  .eth-img {
    width: 100%;
  }
}
